<form class="form-container" >
          
  <div class="form-group">
    <label for="firstName">FirstName</label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="employeeCreate.first_name" name="firstName" placeholder="FirstName">
  </div>

  <div class="form-group">
    <label for="lastName">LastName</label>
    <input type="text" class="form-control" id="lastName" required [(ngModel)]="employeeCreate.last_name" name="lastName" placeholder="LastName" autocomplete="disabled>
  </div>
  <div class="form-group">
      <label for="emailId">Email Address</label>
      <input type="email" class="form-control" id="emailId" required [(ngModel)]="employeeCreate.email" name="emailId" placeholder="EmailAddress">
    </div>
  
  
  <button type="submit" class="btn btn-success btn-block" >Submit</button>
</form>